*.o
*.sw[op]
*~
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/qmp-config
build-succeeded
config.log
config.status
configure
examples/.deps/
include/qmp_config.h
include/stamp-h1
lib/libqmp.a
